<header>
    
  <% if user_signed_in? %>
    <%= render 'shared/logged_in_header' %>
  <% else %>
    <%= render 'shared/not_logged_in_header' %>
  <% end %>

</header>

<main>
  
  <div class = "information_show">
    <h3 class = "required">削除後はアカウントは復旧できません</h3>
    <br>
    <%= link_to "アカウントを削除する", registration_path(current_user), data: { confirm: "本当に削除しますか？" }, method: :delete %>
    <br>
    <br>
    <%= link_to "戻る", user_path(current_user) %>
  </div>
  
</main>

<footer>
  <%= render "shared/footer" %>
</footer>

<!--, {controller: 'users/registrations', action: 'destroy'}, {method: :delete}-->