<header>
    
  <% if user_signed_in? %>
    <%= render 'shared/logged_in_header' %>
  <% else %>
    <%= render 'shared/not_logged_in_header' %>
  <% end %>

</header>

<main class = "show_main">
  
  <p class="notice"><%= flash[:notice] %></p>
  
  <h3>登録中ルーム</h3>
  
  <% @rooms.each do |room| %>
    <div class = "information_show">
      <h3 class = "information"><%= room.name %></h3>
      <p class = "information"><%= room.address %></p>
      <p class = "information"><img src = <%= room.image %> class = "detail_image"></p>
      <p class = "reference"><%=link_to "参照", room_path(room.id) %></p>
    </div>
  <% end %>
  
  <div><%= will_paginate @rooms, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %></div>
  
</main>

<footer>
  <%= render "shared/footer" %>
</footer>